#SG-hiddenmarsh {

  $hm-swatch-a: #F1E3B4;
  $hm-swatch-b: #DAA520;
  $hm-swatch-c: #A95E33;
  $hm-swatch-d: #742909;
  $hm-swatch-e: #2A4633;

  font-family: 'Open Sans', sans-serif;

  h1 { color: $hm-swatch-d; }
  h2 { color: $hm-swatch-c; }
  h3 { color: $hm-swatch-c; }

  h1,
  h2,
  h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  .masthead {
    background: url('../images/header-hiddenmarsh.jpg') no-repeat center center fixed;
    background-size: cover;
    border-bottom: 10px solid $hm-swatch-b;
    padding: 7.8em 0;
    text-align: center;
    
    h1 {
      color: #f7f7f7;
      font-size: 4em;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    }
  }

  .color-palette {
    .swatch-a {
      background-color: $hm-swatch-a;
      border-radius: 4px 0 0 4px;
    }
    .swatch-b { background-color: $hm-swatch-b; }
    .swatch-c { background-color: $hm-swatch-c; }
    .swatch-d { background-color: $hm-swatch-d; }
    .swatch-e {
      background-color: $hm-swatch-e;
      border-radius: 0 4px 4px 0;
    }
  }

}