#SG-idolridge {

  $ir-swatch-a: #BDBAAC;
  $ir-swatch-b: #D4EF9F;
  $ir-swatch-c: #A95E33;
  $ir-swatch-d: #393262;
  $ir-swatch-e: #2A4633;

  font-family: 'Lora', serif;

  h1 { color: $ir-swatch-d; }
  h2 { color: $ir-swatch-c; }
  h3 { color: $ir-swatch-a; }

  h1,
  h2,
  h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  .masthead {
    background: url('../images/header-idolridge.jpg') no-repeat center top fixed;
    background-size: cover;
    padding: 9em 0 7em;
    text-align: center;
    
    h1 {
      color: #f7f7f7;
      font-size: 4em;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    }
  }

  .sub-header {
    background: url('../images/header-aldercreek.jpg') no-repeat center bottom;
    background-size: cover;
    border-top: 10px solid $ir-swatch-d;
  }

  .color-palette {
    .swatch-a {
      background-color: $ir-swatch-a;
      border-radius: 4px 0 0 4px;
    }
    .swatch-b { background-color: $ir-swatch-b; }
    .swatch-c { background-color: $ir-swatch-c; }
    .swatch-d { background-color: $ir-swatch-d; }
    .swatch-e {
      background-color: $ir-swatch-e;
      border-radius: 0 4px 4px 0;
    }
  }

}