#SG-montezuma {

  $mw-swatch-a: #D1E8EC;
  $mw-swatch-b: #F19B50;
  $mw-swatch-c: #A95E33;
  $mw-swatch-d: #7E2314;
  $mw-swatch-e: #2A4633;

  h1,
  h2,
  h3 {
    font-family:'Sree Krushnadevaraya', serif;
    margin-top: -0.357em;
  }

  h1 { color: $mw-swatch-c; font-size: 3.5em; }
  h2 { color: $mw-swatch-d; font-size: 2.25em; }
  h3 { color: $mw-swatch-d; font-size: 1.875em; }

  .masthead {
    background: url('../images/header-montezuma.jpg') no-repeat center top fixed;
    background-size: cover;
    padding: 11.6em 0 9.6em;
    text-align: center;
    
    h1 {
      color: #f7f7f7;
      font-size: 4em;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    }
  }

  .sub-header {
    background: url('../images/header-oldforge.jpg') no-repeat center center;
    background-size: cover;
    border-top: 10px solid $mw-swatch-e;
  }

  .color-palette {
    .swatch-a {
      background-color: $mw-swatch-a;
      border-radius: 4px 0 0 4px;
    }
    .swatch-b { background-color: $mw-swatch-b; }
    .swatch-c { background-color: $mw-swatch-c; }
    .swatch-d { background-color: $mw-swatch-d; }
    .swatch-e {
      background-color: $mw-swatch-e;
      border-radius: 0 4px 4px 0;
    }
  }

}