extends layouts/default
block content

  #SG-idolridge
    header.masthead
      img.svg-shadow(src="images/logo-idolridge.svg", alt="Idol Ridge", width="250")

    .sub-header
      img(src="images/logo-aldercreek.svg", alt="Alder Creek", width="450")


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h1 [Bearded Hipster]
          p.
            The more relaxed of the brands, Idol Ridge&rsquo;s laid-back aesthetic is reflected by rustic colors and patterns and a touch of nature’s rougher elements.


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Color Palette
          .color-palette.clearfix
            .swatch.swatch-a(data-toggle='tooltip', data-placement='bottom', title='#EDF2F4')   
            .swatch.swatch-b(data-toggle='tooltip', data-placement='bottom', title='#D4EF9F')
            .swatch.swatch-c(data-toggle='tooltip', data-placement='bottom', title='#A95E33')
            .swatch.swatch-d(data-toggle='tooltip', data-placement='bottom', title='#393262')
            .swatch.swatch-e(data-toggle='tooltip', data-placement='bottom', title='#2A4633')
          p.
            A color palette that fuses warm and cool tones keeps everything feeling balanced but interesting.


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Patterns &amp; Textures
          p(style='margin-bottom:1.5em;').
            The textures reflect the rustic charm of the actual Idol Ridge building, bringing the physical and digital brands together as one.
          .pattern-box(
            style='background:url(images/pattern-stone.jpg) center center;',
            data-toggle='tooltip', data-placement='bottom', title='Stone'
          )
          .pattern-box(
            style='background:url(images/pattern-wood2.jpg) center center;',
            data-toggle='tooltip', data-placement='bottom', title='Wood'
          )

    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Typography
          p.
            The typography brings the classy style of the Idol Ridge logo together with solid, bold alternative fonts to keep the brand grounded and cool.
          .typography-examples
            hr
            h1 Heading 1
            hr
            h2 Heading 2
            hr
            h3 Heading 3
            hr
            h4(style='margin-bottom:1em;') Body Text
            div(style='text-align:left;')
              p.
                Again Granser's eyes burned with greediness as a large crab was handed to him. It was a shell with legs and all complete, but the meat had long since departed. With shaky fingers and babblings of anticipation, the old man broke off a leg and found it filled with emptiness.
              p.
                The boys were overwhelmed with delight at sight of the tears of senile disappointment that dribbled down the old man's cheeks. Then, unnoticed, Hoo-Hoo replaced the empty shell with a fresh-cooked crab. Already dismembered, from the cracked legs the white meat sent forth a small cloud of savory steam. This attracted the old man's nostrils, and he looked down in amazement.
              p.
                The change of his mood to one of joy was immediate. He snuffled and muttered and mumbled, making almost a croon of delight, as he began to eat. Of this the boys took little notice, for it was an accustomed spectacle. Nor did they notice his occasional exclamations and utterances of phrases which meant nothing to them, as, for instance, when he smacked his lips and champed his gums while muttering: "Mayonnaise! Just think&mdash;mayonnaise! And it's sixty years since the last was ever made! Two generations and never a smell of it! Why, in those days it was served in every restaurant with crab."
                

    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Mood Board
      img.moodboard(src="images/moodboard-idolridge.jpg", alt="Idol Ridge Moodboard")
