extends layouts/default
block content

  #SG-idolridge
    header.masthead
      img.svg-shadow(src="images/logo-idolridge.svg", alt="Idol Ridge", width="250")


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h1 [Bearded Hipster]
          p.
            This color palette featuring warm, approachable earth-tones was designed to reflect Idol Ridge&apos;s elegant, rustic aesthetic with a modern feel.


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Color Palette
          .color-palette.clearfix
            .swatch.swatch-a(data-toggle='tooltip', data-placement='bottom', title='#cacab6')   
            .swatch.swatch-b(data-toggle='tooltip', data-placement='bottom', title='#5a5d41')
            .swatch.swatch-c(data-toggle='tooltip', data-placement='bottom', title='#212319')
            .swatch.swatch-d(data-toggle='tooltip', data-placement='bottom', title='#afaea2')
            .swatch.swatch-e(data-toggle='tooltip', data-placement='bottom', title='#a7a357')
          p.
            This color palette featuring warm, approachable earth-tones was designed to reflect Idol Ridge&apos;s elegant, rustic aesthetic with a modern feel.


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Patterns &amp; Textures
          .pattern-box(
            style='background:url(images/pattern-wood.png) center center;',
            data-toggle='tooltip', data-placement='bottom', title='Wood'
          )
          .pattern-box(
            style='background:url(images/pattern-concrete.png) center center;',
            data-toggle='tooltip', data-placement='bottom', title='Concrete'
          )

    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Typography
          p.
            This color palette featuring warm, approachable earth-tones was designed to reflect Idol Ridge&apos;s elegant, rustic aesthetic with a modern feel.
          .typography-examples
            hr
            h1 Heading 1
            hr
            h2 Heading 2
            hr
            h3 Heading 3
            hr
            h4 Heading 4
            hr
            h5 Heading 5
            hr
