extends layouts/default
block content

  #SG-montezuma
    header.masthead
      img.svg-shadow(src="images/logo-montezuma.svg", alt="Montezuma Winery", width="550")

    .sub-header
      img(src="images/logo-oldforge.svg", alt="Montezuma Old Forge", width="450")


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h1 Natural &amp; Modern
          p.
            Montezuma Winery’s brand is reflected by natural elements with a touch of clean, modern, upscale details.


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Color Palette
          .color-palette.clearfix
            .swatch.swatch-a(data-toggle='tooltip', data-placement='bottom', title='#D1E8EC')
            .swatch.swatch-b(data-toggle='tooltip', data-placement='bottom', title='#F19B50')
            .swatch.swatch-c(data-toggle='tooltip', data-placement='bottom', title='#A95E33')
            .swatch.swatch-d(data-toggle='tooltip', data-placement='bottom', title='#7E2314')
            .swatch.swatch-e(data-toggle='tooltip', data-placement='bottom', title='#2A4633')
          p.
            This color palette featuring muted, down-to-earth tones mixed with brighter elements reflects Montezuma’s upscale, rustic aesthetic with a clean, natural feel.


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Patterns &amp; Textures
          p(style='margin-bottom:1.5em;') Cork and smoother wood textures used subtly bring an earthy feel while remaining clean and modern.
          .pattern-box(
            style='background:url(images/pattern-wood.jpg) center center;',
            data-toggle='tooltip', data-placement='bottom', title='Wood'
          )
          .pattern-box(
            style='background:url(images/pattern-cork.png) center center;',
            data-toggle='tooltip', data-placement='bottom', title='Cork'
          )


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Typography
          p.
            Serif fonts throughout the website reflect the logo’s classic, graceful look.
          .typography-examples
            hr
            h1 Heading 1
            hr
            h2 Heading 2
            hr
            h3 Heading 3
            hr
            h4(style='margin-bottom:1em;') Body Text
            div(style='text-align:left;')
              p.
                Again Granser's eyes burned with greediness as a large crab was handed to him. It was a shell with legs and all complete, but the meat had long since departed. With shaky fingers and babblings of anticipation, the old man broke off a leg and found it filled with emptiness.
              p.
                The boys were overwhelmed with delight at sight of the tears of senile disappointment that dribbled down the old man's cheeks. Then, unnoticed, Hoo-Hoo replaced the empty shell with a fresh-cooked crab. Already dismembered, from the cracked legs the white meat sent forth a small cloud of savory steam. This attracted the old man's nostrils, and he looked down in amazement.
              p.
                The change of his mood to one of joy was immediate. He snuffled and muttered and mumbled, making almost a croon of delight, as he began to eat. Of this the boys took little notice, for it was an accustomed spectacle. Nor did they notice his occasional exclamations and utterances of phrases which meant nothing to them, as, for instance, when he smacked his lips and champed his gums while muttering: "Mayonnaise! Just think&mdash;mayonnaise! And it's sixty years since the last was ever made! Two generations and never a smell of it! Why, in those days it was served in every restaurant with crab."


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Mood Board
      img.moodboard(src="images/moodboard-montezuma.jpg", alt="Montezuma Moodboard")
