extends layouts/default
block content

  #SG-montezuma
    header.masthead
      img.svg-shadow(src="images/logo-montezuma.svg", alt="Montezuma Winery", width="500")


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Elegant, yet modern.
          p.
            This color palette featuring warm, approachable earth-tones was designed to reflect Idol Ridge&apos;s elegant, rustic aesthetic with a modern feel.


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Color Palette
          .color-palette.clearfix
            .swatch.swatch-a(data-toggle='tooltip', data-placement='bottom', title='#2A4633')
            .swatch.swatch-b(data-toggle='tooltip', data-placement='bottom', title='#60504C')
            .swatch.swatch-c(data-toggle='tooltip', data-placement='bottom', title='#A1946A')
            .swatch.swatch-d(data-toggle='tooltip', data-placement='bottom', title='#C3BA98')
            .swatch.swatch-e(data-toggle='tooltip', data-placement='bottom', title='#A57D57')
          p.
            This color palette featuring warm, approachable earth-tones was designed to reflect Idol Ridge&apos;s elegant, rustic aesthetic with a modern feel.


    .sg-section.container
      .row
        .col-xs-8.col-xs-offset-2
          h2 Typography
          p.
            This color palette featuring warm, approachable earth-tones was designed to reflect Idol Ridge&apos;s elegant, rustic aesthetic with a modern feel.
          .typography-examples
            hr
            h1 Heading 1
            hr
            h2 Heading 2
            hr
            h3 Heading 3
            hr
            h4 Heading 4
            hr
            h5 Heading 5
            hr
