.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    ul.nav.navbar-nav.navbar-left
      li
        a(href="/" title="Montezuma") Montezuma
      li
        a(href="/idolridge.html" title="Idol Ridge") Idol Ridge
      li
        a(href="/hiddenmarsh.html" title="Hidden Marsh") Hidden Marsh