.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    ul.nav.navbar-nav.navbar-left
      li
        a(href="/demo/montezuma/" title="Montezuma") Montezuma
      li
        a(href="/demo/montezuma/idolridge.html" title="Idol Ridge") Idol Ridge
      li
        a(href="/demo/montezuma/hiddenmarsh.html" title="Hidden Marsh") Hidden Marsh