.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    ul.nav.navbar-nav.navbar-left
      li
        a(href="/demo/montezuma/" title="Montezuma") Montezuma Winery
      li
        a(href="/demo/montezuma/idolridge.html" title="Idol Ridge") Idol Ridge Winery
      li
        a(href="/demo/montezuma/hiddenmarsh.html" title="Hidden Marsh") Hidden Marsh Distillery
      //- li
      //-   a(href="/" title="Montezuma") Montezuma Winery
      //- li
      //-   a(href="/idolridge.html" title="Idol Ridge") Idol Ridge Winery
      //- li
      //-   a(href="/hiddenmarsh.html" title="Hidden Marsh") Hidden Marsh Distillery